<div>
    <br />
    <h3>Your todo List</h3>

    <div class="row">
        <div class="col-lg-8">
            <div class="form-row">
                <div class="col-lg-6">
                    <input type="text" value="" placeholder="Add a To Do item" class="form-control" ng-model="todoItem.description" />
                </div>
                <div class="col-md-4">
                    <p class="input-group">
                        <input type="date" class="form-control" ng-model="todoItem.dueDate" />
                    </p>
                </div>
                <div class="col-lg-2">
                    <select class="form-control" ng-model="todoItem.priority">
                        <option selected>-- Priority -- </option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <button type="button" class="btn btn-primary" ng-click="save()" ng-disabled="processing">Save</button>
        </div>
    </div>
    <div class="row">
        <div class="col">

            <table class="table table-responsive">
                <thead class="thead-inverse">
                    <tr>
                        <th>Item</th>
                        <th>
                            <a href="#" ng-click="sortType = 'DueDate'; sortReverse = !sortReverse" class="text-light">
                                Due date
                                <span ng-show="sortType == 'DueDate' && !sortReverse" class="oi oi-caret-bottom"></span>
                                <span ng-show="sortType == 'DueDate' && sortReverse" class="oi oi-caret-top"></span>
                            </a>
                        </th>
                        <th>
                            <a href="#" ng-click="sortType = 'Priority'; sortReverse = !sortReverse" class="text-light">
                                Priority
                                <span ng-show="sortType == 'Priority' && !sortReverse" class="oi oi-caret-bottom"></span>
                                <span ng-show="sortType == 'Priority' && sortReverse" class="oi oi-caret-top"></span>
                            </a>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="todo in todoList | orderBy:sortType:sortReverse" ng-class="{'list-group-item-success': todo.Status == 1}">
                        <td><span editable-text="todo.Description" e-name="Description" e-required e-form="todoItemForm" edit-disabled="todo.Status == 1">{{todo.Description | characters: 150}}</span></td>
                        <td><span editable-date="todo.DueDate" e-name="DueDate" e-required e-form="todoItemForm" edit-disabled="todo.Status == 1">{{todo.DueDate | MomentDateTime }}</span></td>
                        <td><span class="badge badge-secondary" editable-select="todo.Priority" e-name="Priority" e-required e-form="todoItemForm" e-ng-options="s.value as s.text for s in priorities"  edit-disabled="todo.Status == 1">{{todo.Priority}}</span></td>
                        <td>
                            <form editable-form name="todoItemForm" onbeforesave="update($data, todo.ID)" ng-show="todoItemForm.$visible" class="form-buttons form-inline" shown="inserted == todo">
                                <button type="submit" ng-disabled="todoItemForm.$waiting" class="btn btn-primary">
                                    save
                                </button>
                                <button type="button" ng-disabled="todoItemForm.$waiting" ng-click="todoItemForm.$cancel()" class="btn btn-default">
                                    cancel
                                </button>
                            </form>

                            <a href="#" title="Edit" ng-click="todoItemForm.$show()" ng-hide="todoItemForm.$visible || todo.Status == 1"><span class="oi oi-pencil"></span></a>
                            <a href="#" title="Done" ng-click="done(todo)" ng-hide="todoItemForm.$visible || todo.Status == 1"><span class="oi oi-check"></span></a>
                            <a href="#" title="Remove" ng-click="remove(todo.ID)" ng-hide="todoItemForm.$visible || todo.Status == 1"><span class="oi oi-trash"></span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>